*{
	transition-duration: 1s;
	box-sizing:border-box;
}
:root{
	--main_bg: #293245;
	--border_color:#333B4A;
	--border_style: solid var(--border_color);
	--border: 2px var(--border_style); 

}	

.container{

	min-height: 100vh;
	background-color: var(--main_bg);

}
.shell{
	display: flex;
}
.sidebar{

	margin-left: 0;
	height: 100vh;
	width: 74.5vh;
	background-color: #2E3748;
	border-right: var(--border);
}
.logo_shell{
	border-bottom: var(--border);
	height: 10vh;
	text-align: center;
    vertical-align: middle;
	display: flex;
	justify-content: space-between;
}
.logo a{

	color: #4BD295;
	font-weight: 800;
	font-size: 2em;
  	margin: 10px;
	text-decoration: none;

}
.logo a:hover{
	font-weight: 900;
	font-size: 2.5em;
}
.us_logo{
	background-color: #293245;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	margin: 10px;
	display: flex;
    justify-content: center;
}
.us_logo:hover{
	background-color: #4BD295;
}
.us_logo img{
	height: 25px;
	width: 25px;
	margin: 10px;
}
.search_in_chat{
	border-bottom: var(--border);
	height: 10vh;
}
input[type=text] {
	width: 95%;
	box-sizing: border-box;
	border: var(--border);
	border-radius: 7px;
	font-size: 16px;
	background-color: #293245;
	background-image: url('../../static/icons/search-magnifying-glass-svgrepo-com.svg');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	background-size: 25px;
	padding: 12px 20px 12px 40px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	outline: none;
	height: min-content;

}
input[type=text]:hover{
	font-size: 17px;
	color: white;
	background-size: 30px;
	background-color: #4BD295;
}
.header{
	height: 20vh;
	width: 100%;
	background-color: #2E3748;
	border-bottom: var(--border);
}
.footer_input{

	margin-left: 55vh;
    position: fixed;
    bottom: 0;
    width: 74%;
    padding: 10px;
	background-color: #2E3748;
	height: max-content;
	border-top: var(--border);

}
.chat_input input[type=text]{
	background-image: none;
	width: 85%;
	font-size: 16px;
}
.chat_input button{
	background-color:#4BD295;
	padding: 15px;
	border:none;
	border-radius:10px
}
.chat_input button:hover{
	font-size: 18px;
	color:white;
}
.chat_input input[type=text]:hover{
	font-size: 16px;
	background-color: var(--main_bg);
}
.search_result{
	display: flex;
	color:white;
	justify-content: space-between;
	padding: 10px;
	border-right: 1px solid #333B4A;
	display: flex;
  	/* justify-content: ; */
 	align-items: center;
	
}
.search_result:hover{
	animation-duration: 1s;
	background-color: #2F4E51;
	border-right: 1px solid rgb(56,197,133)
}
.search_result button{
	background-color: #4BD295;
	width: 40px;
	height: 40px;
	border-radius:100%;
	box-shadow: 2px;
	border: none;
	
}
.search_result .us_name{
	display: flex;
  	justify-content: center;
 	align-items: center;
	font-size: 20px;
}
 /* .search_result button svg.icon{
	height: 30px;
	width: 30px;
 } */
.search_result button:hover svg.icon{
	transition-duration: 0s;
	fill: white;
	
}
.search_result:hover .us_name{
	font-size: 24px;
	color:white;
}
.search_result:hover .us_logo{
	width: 70px;
	height: 70px;
	margin: 0;
	padding: 10px;
}
.search_result:hover .us_logo img{
	height: 30px;
	width: 30px;
}


