body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: rgb(138, 211, 240);
}

.search-container {
	display: flex;
	flex-direction: column;
}

.search-header h1 {
	text-align: center;
}

.search-line form {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.search-line form button {
	width: 30px;
	height: 30px;
	margin: 5px;
	border-radius: 10%;
	margin-right: 0px;
}

.search-results {
	width: 100%;
}

.search-result {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #5a447b;
	height: 100px;
	align-items: center;
}

.user-info {
	display: flex;
	flex-direction: column;
}

.search-result-header {
	margin: 0px;
	padding: 20px;
	padding-bottom: 0px;
	flex-grow: 1;
}

.search-result-header h3 {
	margin: 0px;
}

.search-result-body {
	margin: 0px;
	padding: 20px;
	padding-top: 0px;
	flex-grow: 1;
}

.search-result-body p {
	margin: 0px;
}


.user-info {
	display: flex;
	flex-direction: column;
	width: 60%;
}

.add-user {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 40%;
}

.add-user button {
	width: 60px;
	height: 60px;
	margin: 5px;
	border-radius: 10%;
}

.add-user form {
	display: flex;
	flex-direction: row;
}
.search{
	position: absolute;
}