<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Python web chat</title>
	<link rel="stylesheet" href="static/css/chat.css">
	<link rel="stylesheet" href="static/css/bootstrap-reboot.min.css">
</head>
<body>
	<div class="container">
		<div class="shell">
			<div class="sidebar">
				<div class="logo_shell">
					<div class="logo"><a href="#">CHATTY</a></div>

					<div class="us_logo">
						<img src="static/icons/us_logo.png" alt="">
					</div>
				</div>
				<div class="search_in_chat">
					<input type="text" name="search" id="globalSearchInput" oninput="globalSearch()" placeholder="Search for users and groups" autocomplete="off">
				</div>
				<div id="searchResults" class="search_list">
					<!-- Здесь будут отображаться результаты поиска -->
				</div>
			</div>
			<div class="chat_container">
				<div class="header">
					<div class="chat_name" id="chat_name">Volodya</div>
				</div>
				<div class="chat_content" id="chat_content">
					<!-- Здесь будут отображаться сообщения -->
				</div>
				<div class="footer_input">
					<div class="chat_input">
						<input type="text" id="chat_input_message" placeholder="Type here" autocomplete="off">
						<button type="submit" onclick="sendMessage()" >Send</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
	<script>
		var searchTimeout;
		// Выполняем AJAX-запрос к серверу для глобального поиска
		function globalSearch() {
			clearTimeout(searchTimeout);
			searchTimeout = setTimeout(function () {
				var searchQuery = document.getElementById('globalSearchInput').value;
				
				// Очищаем предыдущие результаты поиска
				document.getElementById('searchResults').innerHTML = '';

				// Не отправляем searchQuery если он пустой
				if (searchQuery == '') {
					return;
				}
				fetch('/global_user_search', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded',
					},
					body: new URLSearchParams({
						search_query: searchQuery,
					}),
				})
				.then(response => response.json())
				.then(data => {
					console.log('Success:', data);
					// Обрабатываем результаты поиска
					var resultsContainer = document.getElementById('searchResults');
					data.forEach(user => {
						var listItem = document.createElement('div');
						listItem.classList.add('search_result');
						listItem.innerHTML = `
							<div class="us_logo">
								<img src="static/icons/us_logo.png" alt="">
							</div>
							<div>${user.name} ${user.surname}</div>
							<div class="buttons">
						`;
						if (user.is_friend == false) {
							listItem.innerHTML += `<button id="add ${user.user_id}" class="add" onclick="addToFriendList(${user.user_id})">Add to friend list</button>`;
						}
						else if (user.is_invite_sent == true) {
							listItem.innerHTML += `<button id="cancel ${user.user_id}" class="cancel_request" onclick="cancelRequest(${user.user_id})">Cancel request</button>`;
						}
						else if (user.is_invite_received == true) {
							listItem.innerHTML += `<button id="accept ${user.user_id}" class="accept_request" onclick="acceptRequest(${user.user_id})">Accept request</button>`;
							listItem.innerHTML += `<button id="decline ${user.user_id}" class="decline_request" onclick="declineRequest(${user.user_id})">Decline request</button>`;
						}
						listItem.innerHTML += `<button id="pm ${user.user_id}" class="pm" onclick="personalMessage(${user.user_id})">Personal message</button>`;
						listItem.innerHTML += `</div>`;
						resultsContainer.appendChild(listItem);
					});
				})
				.catch(error => console.error('Error:', error));
			}, 300);
		}

		// Отправляем AJAX-запрос на добавление пользователя в друзья
		function addToFriendList(user_id) {
			fetch('/add_friend', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded',
				},
				body: new URLSearchParams({
					request_type: 'add',
					user_id: user_id,
				}),
			})
			.then(response => response.json())
			.then(data => {
				console.log('Success:', data);
				// Если data.success не пустой, то значит запрос на добавление в друзья был успешно отправлен
				if (data.success != '') {
					// Меняем текст, класс и id кнопки на "Cancel request"
					document.getElementById(`add ${user_id}`).innerHTML = 'Cancel request';
					document.getElementById(`add ${user_id}`).classList.remove('add');
					document.getElementById(`add ${user_id}`).classList.add('cancel_request');
					document.getElementById(`add ${user_id}`).setAttribute('onclick', `cancelRequest(${user_id})`);
					document.getElementById(`add ${user_id}`).setAttribute('id', `cancel ${user_id}`);
				}
			})
		}

		// Отправляем AJAX-запрос на отмену запроса на добавление пользователя в друзья
		function cancelRequest(user_id) {
			fetch('/add_friend', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded',
				},
				body: new URLSearchParams({
					request_type: 'cancel',
					user_id: user_id,
				}),
			})
			.then(response => response.json())
			.then(data => {
				console.log('Success:', data);
				// Если data.success не пустой, то значит запрос на добавление в друзья был успешно отправлен
				if (data.success != '') {
					// Меняем текст, класс и id кнопки на "Add to friend list"
					document.getElementById(`cancel ${user_id}`).innerHTML = 'Add to friend list';
					document.getElementById(`cancel ${user_id}`).classList.remove('cancel_request');
					document.getElementById(`cancel ${user_id}`).classList.add('add');
					document.getElementById(`cancel ${user_id}`).setAttribute('onclick', `addToFriendList(${user_id})`);
					document.getElementById(`cancel ${user_id}`).setAttribute('id', `add ${user_id}`);
				}
			})
		}

		// Отправляем AJAX-запрос на принятие запроса на добавление пользователя в друзья
		function acceptRequest(user_id) {
			fetch('/add_friend', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded',
				},
				body: new URLSearchParams({
					request_type: 'accept',
					user_id: user_id,
				}),
			})
			.then(response => response.json())
			.then(data => {
				console.log('Success:', data);
				// Если data.success не пустой, то значит запрос на добавление в друзья был успешно отправлен
				if (data.success != '') {
					// Удаляем кнопку "Accept request"
					document.getElementById(`accept ${user_id}`).remove();
					// Удаляем кнопку "Decline request"
					document.getElementById(`decline ${user_id}`).remove();
				}
			})
		}

		// Отправляем AJAX-запрос на отклонение запроса на добавление пользователя в друзья
		function declineRequest(user_id) {
			fetch('/add_friend', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded',
				},
				body: new URLSearchParams({
					request_type: 'decline',
					user_id: user_id,
				}),
			})
			.then(response => response.json())
			.then(data => {
				console.log('Success:', data);
				// Если data.success не пустой, то значит запрос на добавление в друзья был успешно отправлен
				if (data.success != '') {
					// Удаляем кнопку "Accept request"
					document.getElementById(`accept ${user_id}`).remove();
					// Меняем текст, класс и id кнопки на "Add to friend list"
					document.getElementById(`decline ${user_id}`).innerHTML = 'Add to friend list';
					document.getElementById(`decline ${user_id}`).classList.remove('decline_request');
					document.getElementById(`decline ${user_id}`).classList.add('add');
					document.getElementById(`decline ${user_id}`).setAttribute('onclick', `addToFriendList(${user_id})`);
					document.getElementById(`decline ${user_id}`).setAttribute('id', `add ${user_id}`);
				}
			})
		}

		// Открытие личного чата с пользователем
		function personalMessage(user_id) {
			fetch('/create_chat', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded',
				},
				body: new URLSearchParams({
					user_id: user_id,
				}),
			})
			.then(response => response.json())
			.then(data => {
				console.log('Success:', data);
				
			})
		}

		// Подключение к сокету
		var socket = io.connect('http://' + document.domain + ':' + location.port);
		socket.on('message', function(msg) {
			var chatContent = document.getElementById('chat_content');
			var message = document.createElement('div');
			message.classList.add('message');
			message.innerHTML = msg;
			chatContent.appendChild(message);
		});

		// Отправка сообщения
		function sendMessage() {
			var message = document.getElementById('chat_input_message').value;
			socket.emit('message', message);
			document.getElementById('chat_input_message').value = '';
		}
	</script>
</body>
</html>