<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Python web chat</title>
	<link rel="stylesheet" href="static/css/chat.css">
	<link rel="stylesheet" href="static/css/bootstrap-reboot.min.css">
</head>
<body>
	<div class="container">
		<div class="shell">
			<div class="sidebar">
				<div class="logo_shell">
					<div class="logo"><a href="#">CHATTY</a></div>

					<div class="us_logo">
						<img src="static/icons/us_logo.png" alt="">
					</div>
				</div>
				<div class="search_in_chat">
					<input type="text" name="search" id="globalSearchInput" oninput="globalSearch()" placeholder="Search for users and groups">
				</div>
				<div id="searchResults">
					<!-- Здесь будут отображаться результаты поиска -->
				</div>
			</div>
			<div class="header">
				<div class="header_name">Volodya</div>
			</div>
		</div>
	</div>
	<div class="footer_input">
		<div class="chat_input">
			<form>
				<input type="text" name="chat" placeholder="Type here">
				
				<button type="submit">Send</button>
			</form>
	</div>


	<script>
		var searchTimeout;
		function globalSearch() {
			clearTimeout(searchTimeout);
			searchTimeout = setTimeout(function () {
				var searchQuery = document.getElementById('globalSearchInput').value;
				
				// Очищаем предыдущие результаты поиска
				document.getElementById('searchResults').innerHTML = '';

				// Выполняем AJAX-запрос к серверу для глобального поиска
				// Не отправляем searchQuery если он пустой
				if (searchQuery == '') {
					return;
				}
				fetch('/global_user_search', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded',
					},
					body: new URLSearchParams({
						search_query: searchQuery,
					}),
				})
				.then(response => response.json())
				.then(data => {
					console.log('Success:', data);
					// Обрабатываем результаты поиска
					var resultsContainer = document.getElementById('searchResults');
					data.forEach(user => {
						// Сделать для каждого пользователя отображение в виде:
						// <div class="search_result">
						// 	<div class="us_logo">
						// 		<img src="static/icons/us_logo.png" alt="">
						// 	</div>
						// 	<div>Имя Фамилия</div>
						// 	<button>Add</button>
						// </div>
						var listItem = document.createElement('div');
						listItem.classList.add('search_result');
						listItem.innerHTML = `
							<div class="us_logo">
								<img src="static/icons/us_logo.png" alt="">
							</div>
							<div>${user.name} ${user.surname}</div>
							<button onclick="addToFriendList(${user.user_id})">Add to friend list</button>
							<button onclick="personalMessage(${user.user_id})">Personal message</button>
						`;
						resultsContainer.appendChild(listItem);
					});
				})
				.catch(error => console.error('Error:', error));
			}, 300);
		}
		function addToFriendList(user_id) {
			// Отправляем AJAX-запрос на добавление пользователя в друзья
			fetch('/add_friend', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded',
				},
				body: new URLSearchParams({
					user_id: user_id,
				}),
			})
			.then(response => response.json())
			.then(data => {
				console.log('Success:', data);
			})
		}
		// function personalMessage() {
		// 	// Отправляем AJAX-запрос на добавление пользователя в друзья
		// 	fetch('/personal_message', {
		// 		method: 'POST',
		// 		headers: {
		// 			'Content-Type': 'application/x-www-form-urlencoded',
		// 		},
		// 		body: new URLSearchParams({
		// 			user_id: user_id,
		// 		}),
		// 	})
		// }
	</script>
</body>
</html>
