<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Search Results</title>
	<link rel="stylesheet" href="static/css/search.css">
</head>
<body>
	<div class="search-container">
		<div class="search-header">
			<h1>Поиск</h1>
			<div class="search-line">
				<form action="/search" method="post">
					<input type="text" name="search" id="search-input" placeholder="Введите логин пользователя">
					<button id="search-button" type="submit">🔍</button>
				</form>
			</div>
		</div>
		<div class="search-results">
			<!-- Список результатов поиска -->
			{% for user in users %}
				<div class="search-result">
					<div class="user-info">
						<div class="search-result-header">
							<h3>{{ user.login }}</h3>
						</div>
						<div class="search-result-body">
							<p>{{ user.name }} {{ user.surname }}</p>
						</div>
					</div>
					<div class="add-user">
						<form action="/add_user" method="post">
							<input type="hidden" name="user_id" value="{{ user.user_id }}">
							<input type="hidden" name="type" value="add">
							<button type="submit">+👨‍💼</button>
						</form>
						<form action="/add_user" method="post">
							<input type="hidden" name="user_id" value="{{ user.user_id }}">
							<input type="hidden" name="type" value="write">
							<button type="submit">🖋</button>
						</form>
						</form>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="invites">
			<!-- Список приглашений -->
			{% for invite in invites %}
				<div class="invite">
					<div class="user-info">
						<div class="invite-header">
							<h3>{{ user.login }}</h3>
						</div>
						<div class="invite-body">
							<p>{{ user.name }} {{ user.surname }}</p>
						</div>
					</div>
					<div class="actions">
						<form action="/invite" method="post">
							<input type="hidden" name="user_id" value="{{ user.user_id }}">
							<button type="accept">+</button>
							<button type="decline">-</button>
						</form>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</body>
</html>
